.sysmsg {
  // background-color: pink;
  padding: 0.5em;
  &__container {
    padding: 2em 3em;
    border-radius: 8px;
    width: auto;
    height: auto;
    box-shadow:  0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background:rgb(255,120,120);
    background: linear-gradient(49deg, rgba(255,120,120,1) 0%, rgba(255,24,24,1) 100%);
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    .sysmsg__header {
      padding-bottom: 1em;
      &__title {
        font-size: x-large;
        font-weight: 800;
      }
      &__emoji {
        font-size: larger;
      }
    }
    .sysmsg__description {
      padding-bottom: 1em;
      font-weight: 600;
      font-size: 1em;
    }
    .btn {
      padding-top: 1.7rem;
    }
  }
}
